{{#if categories.length}}
<div class="row justify-content-start mt-4">
    {{#each categories}}
    <div class="col-3 mt-3">
        <div class="card libraryborder">
            <a href="/library/{{id}}" class="library__link"><img src="/images/{{img}}" class="card-img-top top" alt="{{name}}"></a>
            <div class="card-body d-flex justify-content-center">
                <h5 class="card-title libraryhref">{{name}}</h5>
            </div>
            {{#iftr @root.isadmin @root.ismanager}}
           
                <a class="card-title left" href="/library/edit/{{id}}"><i class="fal fa-edit editicon"></i></a>
                <a class="card-title right"  href="/library/delete/{{id}}"><i class="fal fa-trash-alt"></i></a>
            
            {{/iftr}}
        </div>
    </div>
    {{/each}}
    {{else}}
    <h2>library empty</h2>
</div>
{{/if}}