<div class="container-fluid">
    <div class="row d-flex justify-content-center">
     <div class="col-12">

            <!-- Profile Image -->
            <div class="card card-primary">
                <div class="card-header">
                <h3 class="card-title">Personal page</h3>
              </div>    
              <div class="card-body box-profile">
              <div class="row d-flex  justify-content-center ">
                  <div class="col-5 d-flex justify-content-center flex-column align-items-center">
                       <div class="text-center">
                        <h3 class="profile-username text-center">{{worker.fullname}}</h3>
                        <p class="text-muted text-center">{{worker.job}}</p>
                        </div>
                        <div class="worker_pic">
                          <img class="worker_pic_ava "
                             src="/images/{{worker.avatar}}"
                            alt="User profile picture">
                     </div>
                     <div class="worker_about_per">
                          <h4 class="worker_info_title">About</h4>

                         <p class="text-muted worker_text">{{worker.about}}</p>
                     </div>
               
                </div>

                <div class="col-6">
                     <div class="worker_contacts">
                           <strong><i class="fab fa-telegram-plane mr-1"></i> Telegram link</strong>

                <p  class="text-muted"><a href="{{worker.telegram}}">{{worker.telegram}}</a></p>

                <strong><i class="fas fa-phone mr-1"></i> Phone number</strong>

                <p class="text-muted">+998{{worker.phone}}</p>


                <strong><i class="fas fa-user-tag mr-1"></i>Status</strong>

                <p class="text-muted">{{worker.status}}</p> 
                <hr>
                  <strong><i class="fas fa-book mr-1"></i> Education</strong>

                <p class="text-muted">
                  {{worker.education}}
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Address</strong>

                <p class="text-muted">{{worker.address}}</p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                <p class="text-muted">
                 {{worker.skills}}
                </p>
                <hr>
                    <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                <p class="text-muted">{{worker.notes}}</p>

               
                </div>

            
                     </div>
                  </div>
              </div>

               

               
               
              </div>
              <!-- /.card-body -->
            <!-- /.card -->

            <!-- About Me Box -->
            
              <!-- /.card-header -->
              <div class="worker_info">

              

                <div class="car-body">
                    

                

              
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
</div>
</div>