<div class="container-fluid">
    <div class="row d-flex justify-content-center">
     <div class="col-md-8">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img view_avatar img-circle"
                       src="/images/{{worker.avatar}}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{worker.fullname}}</h3>

                <p class="text-muted text-center">{{worker.job}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Followers</b> <a class="float-right">1,322</a>
                  </li>
                  <li class="list-group-item">
                    <b>Following</b> <a class="float-right">543</a>
                  </li>
                  <li class="list-group-item">
                    <b>Friends</b> <a class="float-right">13,287</a>
                  </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Education</strong>

                <p class="text-muted">
                  {{worker.education}}
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Address</strong>

                <p class="text-muted">{{worker.address}}</p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                <p class="text-muted">
                 {{worker.skills}}
                </p>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                <p class="text-muted">{{worker.notes}}</p>
                <hr>

                <strong><i class="far fa-address-card mr-1"></i>  About</strong>

                <p class="text-muted">{{worker.about}}</p>

                <hr>

                <strong><i class="fab fa-telegram-plane mr-1"></i> Telegram link</strong>

                <p  class="text-muted"><a href="{{worker.telegram}}">{{worker.telegram}}</a></p>
                <hr>

                <strong><i class="fas fa-phone mr-1"></i> Phone number</strong>

                <p class="text-muted">+998{{worker.phone}}</p>

                <hr>

                <strong><i class="fas fa-user-tag mr-1"></i>Status</strong>

                <p class="text-muted">{{worker.status}}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
</div>
</div>