<div class="row justify-content-center m-0">
  <div class="col-md-6">
    <!-- /.card-header -->
    <div class="card-body ">
      <!-- we are adding the accordion ID so Bootstrap's collapse plugin detects it -->
      <div id="accordion">
        {{#if project.length}}
        {{#each project}}
        <div class="card-t ">
          <div class="card-header cardHeader d-flex align-items-center">
            <h4 class="card-title w-100">
              <a class="d-block black cardLink collapsed" data-toggle="collapse" href="#a{{id}}" aria-expanded="false">
                {{name}}
            </h4>
            </a>
            <h3 class="price">{{price}}</h3>
            </h4>
            {{#iftr @root.isadmin @root.ismanager}}
            <a class="priceIcons" style="color: #39A2DB;" href="/price/edit/{{id}}"><i class="fal fa-edit"></i></a>
            <a class="priceIcons" style="color: #FF4C29;" href="/price/delete/{{id}}"><i
                class="fal fa-trash-alt"></i></a>
            {{/iftr}}
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true" />

          </div>
        </div>
        <div id="a{{id}}" class="collapse" data-parent="#accordion" />
        <div class="card-body">
          <ol class="price-list">
            {{#each allInfo}}
            <li>{{text}}</li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
    {{/each}}
    {{else}}
    {{/if}}

  </div>
</div>
</div>
</div>